<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LoginAndCDUS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>LOGIN</servlet-name>
  	<servlet-class>Login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LOGIN</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BOOKLIST</servlet-name>
  	<servlet-class>CDUS.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BOOKLIST</servlet-name>
  	<url-pattern>/booklist</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BOOKDEL</servlet-name>
  	<servlet-class>CDUS.servlet.BookDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BOOKDEL</servlet-name>
  	<url-pattern>/bookdel</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BOOKUP</servlet-name>
  	<servlet-class>CDUS.servlet.BookUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BOOKUP</servlet-name>
  	<url-pattern>/bookup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BOOKADD</servlet-name>
  	<servlet-class>CDUS.servlet.BookAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BOOKADD</servlet-name>
  	<url-pattern>/bookadd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BOOKSEL</servlet-name>
  	<servlet-class>CDUS.servlet.BookSelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BOOKSEL</servlet-name>
  	<url-pattern>/booksel</url-pattern>
  </servlet-mapping>
</web-app>